---
import { Card, CardContent, CardHeader, CardTitle } from '@/components/ui/card';
import { GET } from '@/pages/api/cryptocurrency.ts';
import type { CryptoData } from '@/types/index.ts';
import { Bitcoin, DollarSign, EclipseIcon } from 'lucide-react';

const cryptoIcons: { [key: string]: React.ElementType } = {
  bitcoin: Bitcoin,
  ethereum: EclipseIcon,
  cardano: DollarSign,
};

const res = await GET(Astro);
const data = await res.json();
if (data?.error) {
  console.error('Failed to fetch cryptocurrency data:', data.error);
}

const cryptoData: CryptoData[] = data?.cryptoData;
console.log('cryptoData :>> ', cryptoData);
---

<Card className='w-full max-w-sm mx-auto'>
  <CardHeader>
    <CardTitle>Cotações de Criptomoedas</CardTitle>
  </CardHeader>
  <CardContent>
    <ul class='space-y-4'>
      {
        cryptoData.map((crypto) => {
          const Icon = cryptoIcons[crypto.name] || DollarSign;
          return (
            <li class='flex items-center justify-between'>
              <div class='flex items-center'>
                <Icon className='w-6 h-6 mr-2' />
                <span class='capitalize'>{crypto.name}</span>
              </div>
              <div class='text-right'>
                <div class='font-bold'>${crypto.price.toLocaleString()}</div>
                <div
                  class={crypto.change >= 0 ? 'text-green-500' : 'text-red-500'}
                >
                  {crypto.change > 0 ? '+' : ''}
                  {crypto.change.toFixed(2)}%
                </div>
              </div>
            </li>
          );
        })
      }
    </ul>
  </CardContent>
</Card>
