---
import { Card, CardContent, CardHeader, CardTitle } from '@/components/ui/card';
import { mockNewsData } from '@/helpers/data.ts';
import type { NewsItem } from '@/types/index.ts';
import { ExternalLink } from 'lucide-react';

const newsData: NewsItem[] = mockNewsData;
// console.log('newsData :>> ', newsData);
---

<!-- TODO: make a request to the server to get the data -->
<Card className='w-full max-w-sm mx-auto'>
  <CardHeader>
    <CardTitle>Notícias de Tecnologia</CardTitle>
  </CardHeader>
  <CardContent>
    <ul class='space-y-4'>
      {
        newsData.map((item, index) => (
          <li>
            <a
              href={item.url}
              target='_blank'
              rel='noopener noreferrer'
              class='flex items-start hover:text-primary transition-colors'
            >
              <ExternalLink className='w-4 h-4 mr-2 mt-1 flex-shrink-0' />
              <div>
                <div class='font-medium'>{item.title}</div>
                <div class='text-sm text-muted-foreground'>{item.source}</div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </CardContent>
</Card>
