---
import { Button } from '@/components/ui/button.tsx';
import { Card, CardContent, CardHeader, CardTitle } from '@/components/ui/card';
import { GET as getNews } from '@/pages/api/tech-news.ts';
import type { NewsItem } from '@/types/index.ts';
import { ExternalLink } from 'lucide-react';

const res = await getNews(Astro);
const data = await res.json();
if (data?.error) {
  console.error('Failed to fetch news data:', data.error);
}

const newsData: NewsItem[] = data?.newsData;
// console.log('newsData :>> ', newsData);
---

<Card className='w-full max-w-sm mx-auto'>
  <CardHeader>
    <CardTitle>Notícias de Tecnologia</CardTitle>
  </CardHeader>
  <CardContent>
    <ul class='space-y-4'>
      {
        newsData.map((item) => (
          <li>
            <a
              href={item.url}
              target='_blank'
              rel='noopener noreferrer'
              class='flex items-start hover:text-primary transition-colors'
            >
              <ExternalLink className='w-4 h-4 mr-2 mt-1 flex-shrink-0' />
              <div>
                <div class='font-medium'>{item.title}</div>
                <div class='text-sm text-muted-foreground'>{item.source}</div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
    <!-- TODO: add a modal showing more news -->
    <div class='mt-4'>
      <Button
        variant='outline'
        className='w-full'
      >
        Veja mais notícias
      </Button>
    </div>
  </CardContent>
</Card>
