---
import { Card, CardContent, CardHeader, CardTitle } from '@/components/ui/card';
import type { WeatherData } from '@/types/index.ts';
import { Cloud, CloudRain, Snowflake, Sun } from 'lucide-react';

const weatherIcons = {
  sunny: Sun,
  cloudy: Cloud,
  rainy: CloudRain,
  snowy: Snowflake,
};

const mockWeatherData: WeatherData = {
  temperature: 22,
  condition: 'sunny',
  location: 'São Paulo, BR',
};

const weatherData: WeatherData = mockWeatherData;
console.log('weatherData :>> ', weatherData);

const WeatherIcon = weatherIcons[weatherData.condition];
---

<!-- TODO: make a request to the server to get the data -->
<Card className='w-full max-w-sm mx-auto'>
  <CardHeader>
    <CardTitle className='flex justify-between items-center'>
      <span>Clima Atual</span>
      <WeatherIcon className='w-8 h-8' />
    </CardTitle>
  </CardHeader>
  <CardContent>
    <div class='text-4xl font-bold mb-2'>
      {weatherData.temperature}°C
    </div>
    <div class='text-muted-foreground'>{weatherData.location}</div>
  </CardContent>
</Card>
