---
import type { SkillsData } from '@/types/index.ts';

const { skills } = Astro.props as { skills: SkillsData[] };
console.log('skills :>> ', skills);
---

<section
  id='skills'
  class='py-20'
>
  <h2 class='text-3xl font-bold mb-8'>Habilidades Técnicas</h2>
  <div class='grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4'>
    {
      skills.map((skill) => (
        <div
          class='bg-secondary p-3 rounded-md text-center skill-item border-2 border-transparent flex gap-4 justify-center items-center'
          data-accent-color={skill.accentColor}
        >
          <svg
            width='30'
            height='30'
            viewBox='0 0 24 24'
            fill='var(--foreground)'
            xmlns='http://www.w3.org/2000/svg'
            class='skill-icon'
          >
            <path d={skill.icon.path} />
          </svg>
          <span>{skill.name}</span>
        </div>
      ))
    }
  </div>
</section>

<script>
  import gsap from 'gsap';

  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.skill-item').forEach((el) => {
      const accentColor = el.getAttribute('data-accent-color')!;

      el.addEventListener('mouseenter', () => {
        gsap.to(el, {
          scale: 1.1,
          duration: 0.3,
          border: `2px solid ${accentColor}`,
          color: accentColor,
        });

        gsap.to(el.querySelector('.skill-icon'), {
          fill: accentColor,
          duration: 0.3,
        });
      });

      el.addEventListener('mouseleave', () => {
        gsap.to(el, {
          scale: 1,
          duration: 0.3,
          border: '2px solid transparent',
          color: 'var(--foreground)',
        });

        gsap.to(el.querySelector('.skill-icon'), {
          fill: 'var(--foreground)',
          duration: 0.3,
        });
      });
    });
  });
</script>
