---
import { TimelineComponent } from '@/components/index.ts';
import type { TimelineItem } from '@/types/index.ts';

const { timelineData } = Astro.props as { timelineData: TimelineItem[] };
// console.log('timelineData :>> ', timelineData);
---

<div class='bg-lightGray'>
  <section
    id='timeline'
    class='p-20 container mx-auto px-4'
  >
    <h2 class='text-3xl font-bold mb-8'>Minha Trajetória Profissional</h2>
    <TimelineComponent
      client:only='react'
      timelineData={timelineData}
    />
  </section>
</div>
