---
import { ContactButton } from '@/components/index.ts';
import { Button } from '@/components/ui/button.tsx';
import { devName, heroDescription, placeholderUrl } from '@/helpers/data.ts';
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import { Github, Linkedin } from 'lucide-react';
import profilePic from '../assets/images/profile.jpg';

// console.log('heroDescription :>> ', heroDescription);
// console.log('imageUrl :>> ', imageUrl);
---

<Layout>
  <section
    id='about'
    class='py-20 md:py-32 flex flex-col md:flex-row items-center container px-4 mx-auto'
  >
    <div class='md:w-1/2 mb-8 md:mb-0'>
      <h1 class='text-4xl md:text-6xl font-bold mb-4'>
        Olá, eu sou {devName}
      </h1>
      <p class='text-xl mb-6'>{heroDescription}</p>
      <div class='flex space-x-4'>
        <Button
          variant='outline'
          size='icon'
        >
          <Github className='h-5 w-5' />
        </Button>
        <Button
          variant='outline'
          size='icon'
        >
          <Linkedin className='h-5 w-5' />
        </Button>
        <ContactButton client:load />
      </div>
    </div>
    <div class='md:w-1/2 flex justify-center'>
      <Image
        src={profilePic ?? `${placeholderUrl}/300`}
        alt={devName}
        width={300}
        height={300}
        class='rounded-full'
        loading='eager'
      />
    </div>
  </section>
</Layout>
