---
import {
  CryptoWidget,
  DollarQuoteWidget,
  TechNewsWidget,
  WeatherWidget,
} from '@/components/index.ts';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <section
    id='widgets'
    class='py-20 container mx-auto px-4'
  >
    <h2 class='text-3xl font-bold mb-8'>Widgets</h2>
    <div
      class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6'
    >
      <TechNewsWidget />
      <WeatherWidget client:load />
      <CryptoWidget />
      <DollarQuoteWidget />
    </div>
  </section>
</Layout>
