---
const { devName } = Astro.props as { devName: string };
---

<!-- TODO: add more links, social media, etc -->
<footer class='bg-secondary py-6'>
  <div class='container mx-auto px-4 text-center'>
    <p>&copy; 2024 {devName}. Todos os direitos reservados.</p>
  </div>
</footer>
