---
import { SidebarComponent } from '@/components/SidebarComponent.tsx';
import type { NavLink } from '@/types/index.ts';

const { devName, navLinks } = Astro.props as {
  devName: string;
  navLinks: NavLink[];
};

console.log('devName :>> ', devName);
console.log('navLinks :>> ', navLinks);
---

<nav class='fixed top-0 left-0 right-0 z-50 bg-background/80 backdrop-blur-sm'>
  <div class='container mx-auto px-4 py-3 flex justify-between items-center'>
    <SidebarComponent
      navLinks={navLinks}
      client:load
    />
    <a
      href='/'
      class='text-xl font-bold hidden md:block'
    >
      {devName}
    </a>
    <div class='hidden md:flex space-x-4'>
      {
        navLinks.map((link) => (
          <a
            href={link.href}
            class='hover:text-primary transition-colors'
          >
            {link.label}
          </a>
        ))
      }
    </div>
  </div>
</nav>
