---
import '@/assets/styles/globals.css';
---

<!doctype html>
<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Marlon Couto | Dev FullStack</title>
    <script is:inline>
      // Function to apply dark mode preference based on the provided theme
      function applyDarkModePreference(theme) {
        if (!theme) {
          // Remove theme from local storage if no theme is provided
          localStorage.removeItem('theme');
        } else {
          // Save the provided theme to local storage
          localStorage.theme = theme;
        }

        // Toggle the 'dark' class on the document element based on the theme
        document.documentElement.classList.toggle(
          'dark',
          localStorage.theme === 'dark' ||
            (!('theme' in localStorage) &&
              window.matchMedia('(prefers-color-scheme: dark)').matches),
        );
      }

      // Make the function available globally
      window.applyDarkModePreference = applyDarkModePreference;

      // Apply dark mode preference when the document is fully loaded
      document.addEventListener('DOMContentLoaded', () => {
        applyDarkModePreference();
      });
    </script>
  </head>

  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
