---
import '@/assets/styles/globals.css';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Marlon Couto | Dev FullStack</title>
    <script is:inline>
      document.write(
        '<script src="http://' +
          (location.host || 'localhost').split(':')[0] +
          ':35729/livereload.js?snipver=1"></' +
          'script>',
      );
    </script>
    <script is:inline>
      // Function to apply dark mode preference based on the provided theme
      ((theme) => {
        if (theme === 'default' || (!theme && !('theme' in localStorage))) {
          // Remove theme from local storage if no theme is provided
          localStorage.removeItem('theme');
        } else if (theme) {
          // Save the provided theme to local storage
          localStorage.theme = theme;
        }
        // Toggle the 'dark' class on the document element based on the theme
        document.documentElement.classList.toggle(
          'dark',
          localStorage.theme === 'dark' ||
            (!('theme' in localStorage) &&
              window.matchMedia('(prefers-color-scheme: dark)').matches),
        );
      })();
    </script>
    <ClientRouter />
  </head>

  <body>
    <slot />
    <!-- TODO: add a button to scroll the page up -->
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
